/* Header Styles */
.appbar {
    background-color: #1976d2;
    /* Màu nền của AppBar */
    padding: 0 30px;
    transition: all 0.3s ease-in-out;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo-text {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: white;
    transition: color 0.3s ease;
}

.logo-text:hover {
    color: #ffeb3b;
    /* Hiệu ứng hover cho logo */
}

.user-info-container {
    display: flex;
    align-items: center;
}

.profile-button {
    font-size: 16px;
    text-transform: none;
    color: white;
    margin-right: 10px;
    background-color: #1565c0;
    border-radius: 20px;
    padding: 8px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.profile-name {
    font-weight: bold;
}

.logout-icon,
.refresh-icon {
    color: white;
    margin-left: 15px;
    font-size: 28px;
}

.logout-icon:hover,
.refresh-icon:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .appbar {
        padding: 0 20px;
    }

    .logo-text {
        font-size: 22px;
    }

    .profile-button {
        font-size: 14px;
    }
}